h1 {
  text-align: center;
}

.octocat-image {
  height: 50%;
  width: 35%;
}

.logout-link {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.login-link {
  width: 20%;
}

//account page
.avatar {
  float: left;
  width: 25%;
}

.table-info {
  float: right;
  width: 70%;
  margin-right: 5%;
  margin-top: 15px;
}

.avatar-picture {
  width: 90%;
}
