<h1> This is your public GitHub information! :) </h1>

<% resources.each do |key, value| %>
  <% if !value.nil? %>
    <%= key %> : <%= value %> <br>
  <% end %>
<% end %>

<%= link_to "Logout", logout_path %>
